<p>Dear ,</p>
<p> thong tin mua sach</p>
<table>
    <tr valign="top">
        <td>
            {{buyer.nickname}}</a><br />
            <p> đã mua sách </p>
        </td>
        <td>
            <p> email người mua là</p>
            {{buyer.email}}</a><br />
            
        </td>
        <td>
            <p> địa điểm thay đổi</p>
            {{diadiem}}</a><br />
            
        </td>
        <td>
            <p> thời gian thay đổi</p>
            {{thoigian}}</a><br />
            
        </td>
        <td>
            <p> liên hệ người mua</p>
            {{lienhe}}</a><br />
            
        </td>
        <td>
            <p> tên sách</p>
            {{books.tensach}}</a><br />
            
        </td>
       
        <td>
            <p> người bán</p>
            {{seller.email}}</a><br />
            
        </td>

    </tr>
</table>
<p>Regards,</p>
<p>The <code>chuyentay.vn</code> admin</p>