{% extends "base.html" %}
{% block content %}

    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/portfolio-details/1.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="project-name overflow">
                        <h2 class="bold">{{ book.tensach }} - {{ book.tacgia }} ({{ book.giaban }} vnd)</h2>
                        <ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-list"></i>{{ book.theloai }}</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>{{ book.thoigiandang }}</a></li>
                        </ul>
                    </div>
                    <!-- thong tin ca nhan -->
                    <div class="project-info overflow">
                        <!-- in context table style -->
                        <style type="text/css">
                        .tg  {border-collapse:collapse;border-spacing:0; width:100%;text-align: left;}
                        .tg td{font-family:"noto sans", sans-serif;color:gray;font-size:12px;padding:5px;overflow:hidden;word-break:normal;}
                        .tg th{font-family:"noto sans", sans-serif;font-size:12px;font-weight:normal;padding:5px;;overflow:hidden;word-break:normal;}
                        </style>

                        <table class="tg">
                          <tr>
                            <th class="tg-0ord"><i class="fa fa-angle-right"></i> Trường: {{ book.truong }}</th>
                            <th class="tg-031e"><i class="fa fa-angle-right"></i> Khu Vực: {{ book.khuvuc }}</th>
                          </tr>
                          <tr>
                            <td class="tg-0ord"><i class="fa fa-angle-right"></i> Chuyên Ngành: {{ book.chuyennganh }}</td>
                            <td class="tg-031e"><i class="fa fa-angle-right"></i> Giáo Viên Dạy: {{ book.giaovien }}</td>
                          </tr>
                        </table>

                    </div>
                    <div class="project-info overflow">
                        <h3>Thông Tin Giao Dịch:</h3>
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i> Người bán muốn hẹn thời gian lúc: {{ book.thoigiangapmat }}</li>
                            <li><i class="fa fa-angle-right"></i> Nơi ưu tiên gặp mặt: {{ book.noigapmat }}</li>
                            <li><i class="fa fa-angle-right"></i> Cách thức liên lạc: {{ book.lienhe }}</li>
                        </ul>
                    </div>
                    <div class="client overflow">
                        <h3>Thông Tin Được Đăng Bởi:</h3>
                        <ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-bolt"></i>{{ book.author }}</a></li>
                        </ul>
                    </div>
                    <div class="skills overflow">
                        <h3>Độ Tin Tưởng của Thành Viên:</h3>
                        <ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-check-square"></i>Design</a></li>
                            <li><a href="#"><i class="fa fa-check-square"></i>HTML/CSS</a></li>
                            <li><a href="#"><i class="fa fa-check-square"></i>Javascript</a></li>
                            <li><a href="#"><i class="fa fa-check-square"></i>Backend</a></li>
                        </ul>
                    </div>

                    <div class="live-preview">
                        <a href="#" class="btn btn-common uppercase">Liên Hệ Mua</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#portfolio-information-->

    <section id="related-work" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <h1 class="title text-center">Related Work</h1>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/portfolio/1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="images/portfolio/1.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>Sailing Vivamus</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/portfolio/2.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="images/portfolio/2.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>Sailing Vivamus</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/portfolio/3.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="images/portfolio/3.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>Sailing Vivamus</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/portfolio/4.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="images/portfolio/4.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>Sailing Vivamus</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#related-work-->

{% endblock %}

{% block js %}
	<script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
{% endblock %}
