{% extends "base.html" %}

{% block css %}
	<link href="/static/css/formstyle.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Đăng Sách</h1>
            <h3>- Thông tin có * là bắt buộc, còn lại có thể để trống. Thông tin càng chi tiết càng giúp các bạn khác nhanh tìm được sách bạn đăng hơn.</h3>
            <h3>- Di chuyển chuột trên khung nhập thông tin để biết thêm chi tiết.</h3></br>

                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                      <form method="POST" action="." class="form">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        	<!-- thong tin truong lop -->
                        	<font face="Open Sans Condensed" color="#3399FF" size="6px"><i class="fa fa-graduation-cap fa-2x"></i> Thông tin trường lớp:</font><br/><br/>
                            <table style="width:900px;">
                            <tr>
                              <td><h3>Trường Đang Học: *</h3></td>
                              <td>{{ form.name(size=50, title="asd") }}</br>
                              </td>
                            </tr>
                            <tr>
                              <td><h3>Khu Vực:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Ngành Học:</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Giáo viên phụ trách:</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            </table>
                            <hr></hr>
                            <!-- thong tin sach -->
                        	<font face="Open Sans Condensed" color="#3399FF" size="6px"><i class="fa fa-book fa-2x"></i> Thông tin sách:</font><br/><br/>
                            <table style="width:900px;">
                            <tr>
                              <td><h3>Tên Sách:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Tên Tác Giả:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Thể Loại:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Tình Trạng Sách:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Giá Muốn Bán:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            </table>
                            <hr></hr>
                            <!-- thong tin lien lac -->
                        	<font face="Open Sans Condensed" color="#3399FF" size="6px"><i class="fa fa-users fa-2x"></i> Thông tin liên hệ:</font><br/><br/>
                            <table style="width:900px;">
                            <tr>
                              <td><h3>Thời Gian và Ngày Hẹn:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Địa Điểm Ưu Tiên:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            <tr>
                              <td><h3>Liên Hệ:*</h3></td>
                              <td>{{ form.name(size=50) }}</td>
                            </tr>
                            </table>
                            <hr></hr>
                            
                            <table style="width:900px;">
                            <tr>
                              <td><h2>Quyền sử dụng:</h2></td>
                              <td><h2>{{ form.accept_tos }} Chấp nhận.</h2></td>
                            </tr>
                            </table>
                            <br>
                        <h3>Nhập captcha:</h3>
                        {{ form.recaptcha }}
                        </br> 
                        <input type="submit" value="Đăng Sách">
                      </form>
                      </br>
                      

            </div>
        </div>
    </section>
{% endblock %}
