{% extends "base.html" %}
{% block content %}


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Đăng Nhập</h1>
                            <p>Tham gia cùng chúng mình bạn sẽ luôn tìm thấy những cuốn sách mà bạn mong muốn với giá rẻ nhất. Ngoài ra bạn còn chủ động trong việc hẹn thời gian và nơi giao dịch. Mọi thứ đều miễn phí!!!</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    
                        <h1>Chưa là <strong>Thành viên?</strong><a href="{{ url_for('users.register') }}"> Đăng Ký</a> ngay!</h1>
                        <h2><strong>Đăng ký rồi?</strong> Đăng nhập ngay</h2>
	                      
	                      <form method="POST" action="." class="form">
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }}
                            <center>
                            <table style="width:300px">
                            <tr>
                              <td><h2>Địa chỉ email:</h2></td>
                              <td>{{ form.email }} </td>
                              {% for error in form.email.errors %}
                              <span style="color: red;">[{{error}}]</span>
                              {% endfor %}<br>
                            </tr>
                            <tr>
                              <td><h2>Mật Khẩu:</h2></td>
                              <td>{{ form.password }}</td>
                            </tr>
                            <tr>
                              <td><h2>Ghi nhớ:</h2></td>
                              <td>{{ form.remember_me }}</td>
                            </tr>
                            </table>
                            </center> 
	                        <input type="submit" value="Đăng Nhập">
	                      </form>
	                      <h2><a href="forgot">  Quên mật khẩu???</a></h2>
                          </br>

                </div>
                <div class="col-sm-6 text-center">
                  <img src="../../static/images/login.png" class="margin-bottom" alt="" height="500px"></img>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->

{% endblock %}
