{% extends "base.html" %}
{% block content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Đăng Ký</h1>
                            <p>Tham gia cùng chúng mình bạn sẽ luôn tìm thấy những cuốn sách mà bạn mong muốn với giá rẻ nhất. Ngoài ra bạn còn chủ động trong việc hẹn thời gian và nơi giao dịch. Mọi thứ đều miễn phí!!!</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="../static/images/aboutus/5.png" class="margin-bottom" alt="">
                    <a href="{{ url_for('users.dangnhap') }}" class="btn btn-common">Đã đăng ký? Đăng nhập tại đây.</a>
                    <h1 class="margin-bottom">Đăng Ký</h1>
                      Để có kết quả tìm kiếm chính xác vui lòng điền đầy đủ thông tin bên dưới:
                      <form method="POST" action="." class="form">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        <center>
                            <table style="width:500px">
                            <tr>
                              <td><h2>Họ Tên Đầy Đủ:</h2></td>
                              <td>{{ form.name }}</td>
                            </tr>
                            <tr>
                              <td><h2>Địa chỉ email:</h2></td>
                              <td>{{ form.email }} </td>
                              {% for error in form.email.errors %}
                              <span style="color: red;">[{{error}}]</span>
                              {% endfor %}<br>
                            </tr>
                            <tr>
                              <td><h2>Mật Khẩu:</h2></td>
                              <td>{{ form.password }}</td>
                            </tr>
                            <tr>
                              <td><h2>Nhập lại Mật Khẩu:</h2></td>
                              <td>{{ form.confirm }}</td>
                            </tr>
                            <tr>
                              <td><h2>Quyền sử dụng:</h2></td>
                              <td><h2>{{ form.accept_tos }} Chấp nhận.</h2></td>
                            </tr>
                            </table>
                            <br>
                        <h1>Nhập captcha:</h1>
                        {{ form.recaptcha }}

                        </center>
                        </br> 
                        <input type="submit" value="Đăng ký">
                      </form>
                      </br>
                      

                </div>
            </div>
        </div>
    </section>
    

{% endblock %}
