{% extends "base.html" %}
{% block content %}

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                      <form method="POST" action="." class="editprofileform">
                        {{ editprofileform.csrf_token }}
                        {{ editprofileform.hidden_tag() }}
                            <!-- Thay doi thong tin ca nhan -->
                            <font face="Open Sans Condensed" color="#3399FF" size="6px"><img src="{{user.avatar(32)}}"> Thay Đổi Thông Tin Cá Nhân:</font><br/><br/>
                            <h2>Để thay đổi mật khẩu vui lòng bấm vào <a href="{{ url_for('users.thaydoimatkhau') }}">đây</a>.</h2>
                            <h2>Hình đại diện được liên kết với email của bạn thông qua Gravatar.com, để thay đổi avatar vui lòng bấm vào  <a href="http://www.gravatar.com">đây</a>.</h2>
                            <table style="width:900px;">
                            <tr>
                              <td><h3>Tên Đầy Đủ: </h3></td>
                              <td>{{ editprofileform.fullname(size=50) }}</br>
                              </td>
                            </tr>
                            <tr>
                              <td><h3>Email:</h3></td>
                              <td>{{ editprofileform.email(size=50) }}</td>
                              {% for error in editprofileform.email.errors %}
                              <span style="color: red;">[{{error}}]</span>
                              {% endfor %}<br>
                            </tr>
                            <tr>
                              <td><h3>Vài Dòng về Bản Thân:</h3></td>
                              <td>{{ editprofileform.about_me(size=50)}}</td>
                            </tr>
                            </table>
                        <h3>Nhập captcha:</h3>
                        {{ editprofileform.recaptcha }}
                        </br> 
                        <input type="submit" value="Thay Đổi Thông Tin Cá Nhân">
                      </form>
                      </br>

            </div>

        </div>
    </section>

{% endblock %}
