{% extends "base.html" %}
{% block content %}

				<div id="content" class="content full">

					<div class="slider-container">
						<div class="slider" id="revolutionSlider">
							<ul>
								<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
									<img src="/static/img/slides/slide-bg.jpg" data-fullwidthcentering="on" alt="">

										<div class="caption sft stb visible-desktop"
											 data-x="42"
											 data-y="180"
											 data-speed="300"
											 data-start="1000"
											 data-easing="easeOutExpo"><img src="/static/img/slides/slide-title-border.png" alt=""></div>

										<div class="caption top-label lfl stl"
											 data-x="92"
											 data-y="180"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeOutExpo">Bạn cần Mua/Bán</div>

										<div class="caption sft stb visible-desktop"
											 data-x="342"
											 data-y="180"
											 data-speed="300"
											 data-start="1000"
											 data-easing="easeOutExpo"><img src="/static/img/slides/slide-title-border.png" alt=""></div>

										<div class="caption main-label sft stb"
											 data-x="0"
											 data-y="230"
											 data-speed="300"
											 data-start="1500"
											 data-easing="easeOutExpo">SÁCH CŨ?</div>

										<div class="caption bottom-label sft stb"
											 data-x="50"
											 data-y="280"
											 data-speed="500"
											 data-start="2000"
											 data-easing="easeOutExpo">Bạn đã tìm đúng nơi và chọn đúng người.</div>

										<div class="caption fade"
											 data-x="450"
											 data-y="50"
											 data-speed="500"
											 data-start="2500"
											 data-easing="easeOutExpo"><img src="/static/img/slides/slide-concept.png" alt=""></div>

								</li>
								<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
									<img src="/static/img/slides/slide-bg.jpg" data-fullwidthcentering="on" alt="">

										<div class="caption fade"
											 data-x="0"
											 data-y="50"
											 data-speed="500"
											 data-start="200"
											 data-easing="easeOutExpo"><img src="/static/img/slides/slide-concept-2.png" alt=""></div>

										<div class="caption main-label sft stb"
											 data-x="550"
											 data-y="200"
											 data-speed="300"
											 data-start="1500"
											 data-easing="easeOutExpo">MIỄN PHÍ</div>

										<div class="caption bottom-label sft stb"
											 data-x="570"
											 data-y="250"
											 data-speed="500"
											 data-start="2000"
											 data-easing="easeOutExpo">Và sẽ mãi mãi miễn phí hết đời.</div>
											 
								</li>
							</ul>
						</div>
					</div>

					<div class="home-intro">
						<div class="container">

							<div class="row">
								<div class="span8">
									<p>
										Mua bán, trao đổi sách cũ cực kỳ đơn giản và cực kỳ rẻ chỉ có tại <em>ChuyềnTay.Com</em>
										<span>Đảm bảo bạn sẽ tìm được sách mình cần, hoặc kiếm được người thật sự cần cuốn sách bạn đã dùng rồi.</span>
									</p>
								</div>
								<div class="span4">
									<div class="get-started">
										<a href="#" class="btn btn-large btn-primary">Tham Gia Ngay!</a>
										<div class="learn-more">hoặc <a href="index.html">tìm hiểu thêm.</a></div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="container">

						<div class="row center">
							<div class="span12">
							<h2 class="short word-rotator-title">
								Tụi mình từng là
								<strong class="inverted">
									<span style="height: 54px;" class="word-rotate active">
										<span style="top: -108px;" class="word-rotate-items">
											<span>Sinh Viên</span>
											<span>Học Sinh</span>
											</span>
									</span>
								</strong>
								nên tụi mình biết bạn muốn làm gì với sách cũ.
							</h2>
								<p class="featured lead">
									Sách cũ rất quý, đừng vội bán ve chai. Bạn có thể nhường lại nó cho những đàn em thực sự cần hoặc những bạn không có điều kiện mua sách. Sách giáo khoa mới mắc lắm, kiến thức chứa đựng trong đó lại mắc hơn vô cùng. Vậy sau khi sử dụng xong bạn có thể cho lại hoặc kiếm ít tiền bằng việc bán lại những cuốn sách cũ đó?
								</p>
							</div>
						</div>

					</div>

					<div class="home-concept">
						<div class="container">

							<div class="row center">
								<span class="sun"></span>
								<span class="cloud"></span>
								<div class="span2 offset1">
									<div class="process-image">
										<img src="/static/img/home-concept-item-1.png" alt="" />
										<strong>Đăng Ký</strong>
									</div>
								</div>
								<div class="span2">
									<div class="process-image">
										<img src="/static/img/home-concept-item-2.png" alt="" />
										<strong>Đăng/Tìm Sách</strong>
									</div>
								</div>
								<div class="span2">
									<div class="process-image">
										<img src="/static/img/home-concept-item-3.png" alt="" />
										<strong>Liên Hệ</strong>
									</div>
								</div>
								<div class="span4 offset1">
									<div class="project-image">
										<div id="fcSlideshow" class="fc-slideshow">
											<ul class="fc-slides">
												<li><a href="portfolio-single-project.html"><img src="/static/img/projects/project-home-1.jpg" /></a></li>
												<li><a href="portfolio-single-project.html"><img src="/static/img/projects/project-home-2.jpg" /></a></li>
											</ul>
										</div>
										<strong class="our-work">Tận Hưởng</strong>
									</div>
								</div>
							</div>

							<hr class="tall" />

						</div>
					</div>

					<div class="container">

						<div class="row">
							<div class="span8">
								<h2>Các <strong>tính năng</strong> chính</h2>
								<div class="row">
									<div class="span4">
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon-book"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Bán sách dùng rồi</h4>
												<p class="tall">Bán lại những cuốn sách giáo khoa đã qua sử dụng cho những đàn em thực sự cần.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon-money"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Mua sách</h4>
												<p class="tall">Sách giáo khoa và tài liệu mới khá mắc, tại sao bạn không mua lại với giá rẻ?</p>
											</div>
										</div>
										
									</div>
									<div class="span4">
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon-gift"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Tặng sách</h4>
												<p class="tall">Thay vì bán bạn cũng có thể tặng lại sách cho người khác nếu không có nhu cầu sử dụng.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon-search"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Kiếm sách FREE</h4>
												<p class="tall">Bạn có thể kiếm những cuốn sách free mà mọi người không dùng đến.</p>
											</div>
										</div>

										
									</div>
								</div>
							</div>
							<div class="span4">
								<h2>và còn nhiều nữa...</h2>
								<div class="accordion" id="accordion">
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="icon-list-ol"></i> Đa Dạng</a>
										</div>
										<div id="collapseOne" class="accordion-body collapse in">
											<div class="accordion-inner">
												Đủ các loại sách từ sách giáo khoa, sách giải, truyện và tài liệu tham khảo.
											</div>
										</div>
									</div>
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="icon-group"></i> Tiện Lợi</a>
										</div>
										<div id="collapseTwo" class="accordion-body collapse">
											<div class="accordion-inner">
												Chỉ cần đăng sách là người mua sẽ tự tìm hoặc liên hệ với bạn để trao đổi.
											</div>
										</div>
									</div>
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="icon-laptop"></i> Nhanh Chóng</a>
										</div>
										<div id="collapseThree" class="accordion-body collapse">
											<div class="accordion-inner">
												Liên hệ và hẹn gặp trong ngày, thoải mái về thời gian và địa điểm.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr class="tall" />

						<div class="row center">
							<div class="span12">
								<h2 class="short word-rotator-title">
								Website phục vụ chủ yếu các bạn
								<strong>
									<span style="height: 54px;" class="word-rotate active">
										<span style="top: 0px;" class="word-rotate-items">
											<span>Sinh Viên</span>
											<span>Học Sinh</span>
											<span>Nghiên cứu Sinh</span>
										<span>Đang Đi Làm</span></span>
									</span>
								</strong>
								là chủ yếu.
							</h2>

								<h4 class="lead tall">Website từ chối phục vụ những hành vi trục lợi và lừa gạt Sinh Viên, Học Sinh và những thành viên tâm huyết.</h4>
							</div>
						</div>
						<!--
						<div class="row center">
							<div class="flexslider unstyled" data-plugin-options='{"directionNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 6}'>
								<ul class="slides">
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-1.jpg" alt="">
										</div>
									</li>
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-2.jpg" alt="">
										</div>
									</li>
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-3.jpg" alt="">
										</div>
									</li>
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-4.jpg" alt="">
										</div>
									</li>
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-5.jpg" alt="">
										</div>
									</li>
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-6.jpg" alt="">
										</div>
									</li>
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-4.jpg" alt="">
										</div>
									</li>
									<li>
										<div class="span2">
											<img class="mobile-max-width small" src="/static/img/logo-client-2.jpg" alt="">
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div> -->
					<div class="row center">
						<div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true}'>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-1.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-2.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-3.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-4.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-5.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-6.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-4.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="/static/img/logos/logo-2.png" alt="">
							</div>
						</div>
					</div>
				
				</div>
					<!--
					<div class="map-section">
						<section class="featured footer map">
							<div class="container">
								<div class="row">
									<div class="span6">
										<div class="recent-posts">
											<h2>Latest <strong>Blog</strong> Posts</h2>
											<div class="row">
												<div class="flexslider unstyled" data-plugin-options='{"directionNav":false, "animation":"slide"}'>
													<ul class="slides">
														<li>
															<div class="span3">
																<article>
																	<div class="date">
																		<span class="day">15</span>
																		<span class="month">Jan</span>
																	</div>
																	<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon-angle-right"></i></a></p>
																</article>
															</div>
															<div class="span3">
																<article>
																	<div class="date">
																		<span class="day">15</span>
																		<span class="month">Jan</span>
																	</div>
																	<h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="icon-angle-right"></i></a></p>
																</article>
															</div>
														</li>
														<li>
															<div class="span3">
																<article>
																	<div class="date">
																		<span class="day">12</span>
																		<span class="month">Jan</span>
																	</div>
																	<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon-angle-right"></i></a></p>
																</article>
															</div>
															<div class="span3">
																<article>
																	<div class="date">
																		<span class="day">11</span>
																		<span class="month">Jan</span>
																	</div>
																	<h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="/" class="read-more">read more <i class="icon-angle-right"></i></a></p>
																</article>
															</div>
														</li>
														<li>
															<div class="span3">
																<article>
																	<div class="date">
																		<span class="day">15</span>
																		<span class="month">Jan</span>
																	</div>
																	<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon-angle-right"></i></a></p>
																</article>
															</div>
															<div class="span3">
																<article>
																	<div class="date">
																		<span class="day">15</span>
																		<span class="month">Jan</span>
																	</div>
																	<h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="icon-angle-right"></i></a></p>
																</article>
															</div>
														</li>
													</ul>
												</div>
												<div class="row">
													<div class="span6">
														<a class="btn btn-flat btn-mini btn-primary pull-right pull-bottom-phone" href="#">View All Posts <i class="icon-arrow-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="span6">
										<h2><strong>What</strong> Client’s Say</h2>
										<div class="row">
											<div class="flexslider flexslider-top-title unstyled" data-plugin-options='{"controlNav":false, "slideshow": false, "animationLoop": true, "animation":"slide"}'>
												<ul class="slides">
													<li>
														<div class="span6">
															<blockquote class="testimonial">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.</p>
															</blockquote>
															<div class="testimonial-arrow-down"></div>
															<div class="testimonial-author">
																<div class="thumbnail thumbnail-small">
																	<img src="/static/img/clients/client-1.jpg" alt="">
																</div>
																<p><strong>John Smith</strong><span>CEO & Founder - Red Wine</span></p>
															</div>
														</div>
													</li>
													<li>
														<div class="span6">
															<blockquote class="testimonial">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
															</blockquote>
															<div class="testimonial-arrow-down"></div>
															<div class="testimonial-author">
																<div class="thumbnail thumbnail-small">
																	<img src="/static/img/clients/client-1.jpg" alt="">
																</div>
																<p><strong>John Smith</strong><span>CEO & Founder - Crivos</span></p>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					-->
				</div>

{% endblock %}
