.post-content .mceContentBody{
	max-width: 600px;
}
.post-content *{
	color: inherit;	
	font-style: inherit;
	font-weight: inherit;
	line-height: 1.625;
}
.post-content{
	color: #333;	
	font-weight: 300;
	text-align:justify;
	font-size:13px;
	line-height: 1.625;
}


/* Headings */
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
	clear: both;
}
.post-content h1, .post-content h2 {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 .8125em;
}
.post-content h3 {
	font-size: 12px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.post-content h4, .post-content h5, .post-content h6 {
	font-size: 12px;
	margin: 0;
}
.post-content hr, .post_content hr{
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

/* Text elements */
.post-content p, .post-content ul, .post-content ol, .post-content dl{
	font-weight: 300;
}
.post-content p{
	margin-bottom: 1.625em;	
}
.post-content ul, .post-content ol{
	margin: 0 0 1.625em 2.5em;
	padding: 0;
}
.post-content ul{
	list-style: square;
}
.post-content ol{
	list-style-type: decimal;
}
.post-content ol ol{
	list-style: upper-alpha;
}
.post-content ol ol ol{
	list-style: lower-roman;
}
.post-content ol ol ol ol{
	list-style: lower-alpha;
}
.post-content ul ul, .post-content ol ol, .post-content ul ol, .post-content ol ul{
	margin-bottom: 0;
}
.post-content dl{
	margin: 0 1.625em;
}
.post-content dt{
	font-size: 12px;
	font-weight: bold;
}
.post-content dd{
	margin: 0 0 1.625em;
}
.post-content strong{
	font-weight: bold;
}
.post-content cite, .post-content em, .post-content i{
	font-style: italic;
}
.post-content cite{
	border: none;
}
.post-content big{
	font-size: 12px;
}
.post-content .mceContentBody blockquote, .post-content .mceContentBody blockquote p{
	font-family: Georgia, "Bitstream Charter", serif !important;
	font-style: italic !important;
	font-weight: normal;
	margin: 0 3em;
}
.post-content .mceContentBody blockquote em, .post-content .mceContentBody blockquote i, .post-content .mceContentBody blockquote cite{
	font-style: normal;
}
.post-content .mceContentBody blockquote cite{
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.post-content pre{
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	padding: 0.75em 1.625em;
}
.post-content code, .post-content kbd, .post-content code var{
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
.post-content abbr, .post-content acronym, .post-content dfn{
	border-bottom: 1px dotted #666;
	cursor: help;
}
.post-content address{
	display: block;
	margin: 0 0 1.625em;
}
.post-content del{
	color: #333;
}
.post-content ins{
	background: #fff9c0;
	border: none;
	color: #333;
	text-decoration: none;
}
.post-content sup, .post-content sub{
	font-size: 12px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
.post-content sup{
	bottom: 1ex;
}
.post-content sub{
	top: .5ex;
}
.post-content input[type=text], .post-content textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	color: #888;
}
.post-content input[type=text]:focus, .post-content textarea:focus{
	color: #333;
}
.post-content textarea{
	padding-left: 3px;
	width: 98%;
}
.post-content input[type=text]{
	padding: 3px;
}

/* Links */
.post-content a, .post-content a em, .post-content a strong{
	color: #1b8be0;
	text-decoration: none;
}
.post-content a:focus, .post-content a:active, .post-content a:hover
{
	text-decoration: underline;
}

/* Alignment */
.post-content .alignleft{
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.post-content .alignright{
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.post-content .aligncenter{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Tables */
.post-content table{
	border: none !important;
	text-align: left;
	margin: 0 0 1.625em;
	width: 100%;
}
.post-content tr th{
	border: none !important;
	color: #666;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.post-content td{
	border: none !important;	
	padding: 6px 10px 6px 0;
	vertical-align:top;
}

/* Images */
.post-content img[class*="wp-image-"]{
	height: auto;
	max-width: 97.5%;
}
.post-content img.size-full{
	width: auto;
	height: auto;
}
.post-content img.wp-smiley{
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.post-content p img, .post-content .wp-caption{
	margin-top: 0.4em;
}
.post-content img{
	padding: 6px;
	max-width:600px;
	display:block;
	margin:auto;
}
.post-content img.alignleft, .post-content img.alignright, .post-content img.aligncenter
{
	margin-bottom: 1.625em;
}
.post-content .wp-caption{
	background: #eee;
	border: none;
	margin-bottom: 1.625em;
	max-width: 96%;
	padding: 9px;
}
.post-content .wp-caption img{
	display: block;
	margin: 5px auto 0 !important;
	max-width: 98%;
	border-color: #eee;
}
.post-content .wp-caption .wp-caption-text, .post-content .wp-caption-dd{
	color: #666;
	font-family: Georgia, serif !important;
	font-size: 12px;
	margin: 0 0 0.6em 0 !important;
	padding: 0 0 5px 40px;
	position: relative;
	text-align: left;
}
.post-content .wp-caption .wp-caption-text:before{
	color: #666;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
.post-content p iframe{
    display: block;
    margin: 0 auto;
}
.post-content a:focus img[class*="wp-image-"], .post-content a:hover img[class*="wp-image-"], .post-content a:active img[class*="wp-image-"]
{
	background: #eee;
	border-color: #bbb;
}
.post-content .wp-caption a:focus img, .post-content .wp-caption a:active img, .post-content .wp-caption a:hover img{
	background: #fff;
	border-color: #ddd;
}