body
{
	background:#FFF;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
}
.clear
{
	clear:both;
}
.div10 {
    height: 10px;
    width: 90%;
}
#main-content
{
	width:1000px;
	margin:0 auto;
}
#logo
{
	margin-top:10px;
}
#logo .site_name, #logo .site_desc, #logo h1, #logo h2, #logo-footer h2 {
    font-size: 12px;
    text-indent: -9999px;
}
#logo a {
    background: url(images/mainlogo.png) no-repeat;
    display: block;
    height: 160px;
    overflow: hidden;
	margin:0 auto;
    width: 400px;
}
#menu ul li
{
	float:left;
}
.nav {
	margin-top: 10px;
    height: 20px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

.nav-ele {
    display: inline;
    margin: 0 20px;
}
.form-horizontal p
{
	overflow:hidden;
	position:relative;
}
.form-horizontal select, .form-horizontal input[type=text]
{
	float:left;
	margin-right:10px;
}
.form-horizontal .price
{
	width:40px;
	position:absolute;
	top:0;
	left:177px;
}
.form-horizontal .course
{
	width:50px;
}

.form-horizontal .control-label {
	margin-right:10px;
}
.form-horizontal .dollar
{
	border-radius: 3px 0 0 3px;
	left:150px;
}
.form-horizontal .le
{
	left:225px;
	border-radius: 0px 3px 3px 0;
}
.form-horizontal span{
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    display: inline-block;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;
    width: auto;
    margin-right: -1px;
	position:absolute;
	top:0px;	
}
.form-horizontal input[type=submit]
{
	background-color: #0074CC;
	color:#FFF;
	padding:5px 10px;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.loi
{
	color:red;
	float:left;
	margin:0 10px;
}
.form-dk p
{
	overflow:hidden;
}
.form-dk .email
{
	float:left;
	width:110px;
}
.form-dk input[type=text]
{
	float:left;
}
.form-dk input[type=submit]
{
	width:100px;
}
.error p
{
	color:red;
}
.form-horizontal input[type="text"].addloi
{
	border:1px solid #F00;
}