{% extends "base.html" %}
{% block content %}
				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a> <span class="divider">/</span></li>
									<li class="active">Pages</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>404 - Sai Trang Rồi</h2>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<!-- khong tim thay -->
					Trang web bạn vừa vào không tồn tại, nếu đây là lỗi từ trang web xin vui lòng liên hệ với tụi mình đễ tụi mình khắc phục trong thời gian sớm nhất. Xin cám ơn!</br>
					Một số lỗi nhỏ xảy ra do trình duyệt chưa xử lý kịp thông tin, bạn vui lòng truy cập vào website bằng cách gõ địa chỉ web vào browser (IE, firefox, Chrome, Opera) và Enter một lần nữa.
				</div>


{% endblock %}
