<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <meta name="keywords" content="trao doi sach cu" />
    <meta name="description" content="Trao doi sach cu">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png">

    {% block css %}
    <!-- Libs CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/vendor/flexslider/flexslider.css" media="screen" />
    <link rel="stylesheet" href="/static/vendor/fancybox/jquery.fancybox.css" media="screen" />
    <link rel="stylesheet" href="/static/css/owl.css" media="screen" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/theme-elements.css">

    <!-- Current Page Styles -->
    <link rel="stylesheet" href="/static/vendor/revolution-slider/css/settings.css" media="screen" />
    <link rel="stylesheet" href="/static/vendor/revolution-slider/css/captions.css" media="screen" />
    <link rel="stylesheet" href="/static/vendor/circle-flip-slideshow/css/component.css" media="screen" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Skin -->
    <link rel="stylesheet" href="/static/css/skins/blue.css">
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/static/css/theme-responsive.css" />
    {% endblock %}

    {% block script %}
    <!-- Head Libs -->
    <script src="/static/vendor/modernizr.js"></script>

    <!--[if IE]>
      <link rel="stylesheet" href="/static/css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <script src="/static/vendor/respond.js"></script>
    <![endif]-->

    {% endblock %}

  </head>
  <body>
    <div class="body">
      <!-- ******************************************** BLOCK HEADER ****************************************** -->
      <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
      </header>
      

      <!-- ******************************************** BLOCK CONTENT ****************************************** -->
      <div role="main" class="main">
      {% block content %}
      {% endblock %}     
      </div>
       
      <!-- ******************************************** BLOCK MESSAGE ****************************************** -->
      <!-- never used but i think it may be a good idea to keep it for debugging -->
      <div id="messages-wrap">
        <div class="container">
          {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p class="message flash-{{ category }}" style="color:red">{{ msg }}</p>
          {% endfor %}
        </div>
      </div>

      <!-- ******************************************** BLOCK FOOTER ****************************************** -->
      <footer>
      {% block footer %}
      {% include 'footer.html' %}
      {% endblock %}
      </footer>
    </div>

    <!-- External Libs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/vendor/jquery.js"><\/script>')</script>
    <script src="/static/vendor/jquery.easing.js"></script>
    <script src="/static/vendor/jquery.cookie.js"></script>
    <!-- <script src="/static/master/style-switcher/style.switcher.js"></script> -->
    <script src="/static/vendor/bootstrap.js"></script>
    <script src="/static/vendor/selectnav.js"></script>
    <script src="/static/vendor/twitterjs/twitter.js"></script>
    <script src="/static/vendor/revolution-slider/js/jquery.themepunch.plugins.js"></script>
    <script src="/static/vendor/revolution-slider/js/jquery.themepunch.revolution.js"></script>
    <script src="/static/vendor/flexslider/jquery.flexslider.js"></script>
    <script src="/static/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="/static/vendor/fancybox/jquery.fancybox.js"></script>
    <script src="/static/vendor/jquery.validate.js"></script>
    <script src="/static/js/owl.js"></script>

    <script src="/static/js/plugins.js"></script>

    <!-- Current Page Scripts -->
    <script src="/static/js/views/view.home.js"></script>

    <!-- Theme Initializer -->
    <script src="/static/js/theme.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/custom.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <!--
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXX-X']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    -->

  </body>
</html>