{% extends "base.html" %}
{% block content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Chính Sách Bảo Mật</h1>
                            <p></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p align="left">Chưa biêt1 viết gì từ từ viết sau :(
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->
{% endblock %}
