{% extends "base.html" %}
{% block content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Chính Sách Bảo Mật</h1>
                            <p></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="info-antoan" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>An toàn và Bảo Mật</h2>
                    <p>Giao dịch mua, bán, trao đổi giữa các thành viên của trang web là hoàn toàn tự nguyện và không bị bắt buộc. Luôn chọn thời gian và địa điểm gặp mặt thuận tiện cho bạn. Nên tránh giao dịch với những bài đăng với giao dịch ở những nơi lạ và xa để gia tăng mức độ an toàn.</p>
                    <p>Dù quản lý chặt chẽ nhưng sẽ không tránh khỏi tình trạng bài đăng xấu, xin vui lòng báo ngay với bạn mình những bài viết mang tính chất spam, tôn giáo, chính trị, phản động, lừa gạt v.v... chúng mình sẽ có biện pháp loại bỏ và giải quyết thích đáng. Hạn chế dùng thông tin cá nhân nhiều như số điện thoại, email cá nhân v.v... trừ khi bạn liên hệ trực tiếp với người khác và nhất là thành viên có độ tin tưởng cao.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="info-baomat" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Bảo mật</h2>
                    <p>Thông tin cá nhân và giao dịch của bạn được bảo mật chặt chẽ. Mật khẩu được mã hóa nhiều lần với những phương thức khác nhau để tăng độ an toàn. Khi bạn liên hệ mua sách, cuộc đối thoại giữa bạn và người được liên hệ sẽ được giữ kín và không ai khác có quyền xem được.</p>
                    <p>Tuy vậy, hạn chế dùng mật khẩu dễ đoán và đừng bao giờ trả lời khi có ai khác hỏi về password của bạn. Những trường hợp mạo danh đều bị xử lý thích đáng.</p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->
    <br /><br /><br /><br />
{% endblock %}
