{% extends "base.html" %}
{% block content %}

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                <table style="width:100%; color:#2f3842;text-align:justify;">
                	<tr>
                		<td colspan="3" align="center"><h2><b>PHƯƠNG THỨC HOẠT ĐỘNG</b></h2><br /></td>
                	</tr>
                	<tr>
                		<td width="40%"><font face="'Open Sans Condensed', sans-serif;", size="5px">* Người Bán / Người Tặng</font><br /><br /></td>
                		<td width="20%"></td>
                		<td width="40%"><font face="'Open Sans Condensed', sans-serif;", size="5px">* Người Mua / Người Nhận</font><br /><br /></td>
                	</tr>
                	<tr>
                		<td><font face="'Open Sans Condensed', sans-serif;", size="4px"><b>1. Đăng Sách</b></font><br /><br />
                		<img src="/static/images/thongtin/seller1.png" align="left" width="80px">Đơn giản là sau khi đăng ký thành viên bạn chỉ việc chọn "Đăng Sách", ghi đầu đủ thông tin liên quan đến sách, càng chi tiết càng giúp thành viên khác dễ tìm.<br />
                		</td>
                		<td width="20%"></td>
                		<td><font face="'Open Sans Condensed', sans-serif;", size="4px"><b>1. Tìm Sách</b></font><br /><br />
                		<img src="/static/images/thongtin/buyer1.png" align="left" width="80px">Bạn có thể tìm sách bằng nhiều cách, sử dụng khung tìm kiếm hoặc chức năng "Tìm Sách", điền đầy đủ thông tin và bấm Enter.
                		</td>
                	</tr>
                	<tr>
                		<td><br /><font face="'Open Sans Condensed', sans-serif;", size="4px"><b>2. Chờ người liên hệ</b></font><br /><br />
                		<img src="/static/images/thongtin/seller2.png" align="left" width="80px">Bạn chỉ việc chờ đến khi có người liên hệ, hoặc khi có thành viên nào có câu hỏi về sách vừa đăng.
                		</td>
                		<td width="20%"></td>
                		<td><br /><font face="'Open Sans Condensed', sans-serif;", size="4px"><b>2. Liên hệ người đăng</b></font><br /><br />
                		<img src="/static/images/thongtin/buyer2.png" align="left" width="80px">sau khi xem thông tin chi tiết về sách bạn có thể chọn liên hệ với người đăng hoặc liên hệ trực tiếp nếu người đăng để lại email hoặc thông tin khác.
                		</td>
                	</tr>
                	<tr>
                		<td><br /><font face="'Open Sans Condensed', sans-serif;", size="4px"><b>3. Nhận Tin nhắn</b></font><br /><br />
                		<img src="/static/images/thongtin/seller3.png" align="left" width="80px">Khi có người liên hệ, Chuyentay sẽ gửi cho bạn email kèm đầy đủ thông tin mà người mua muốn, bạn chỉ việc trả lời và chấp nhận trao đổi hoặc gặp mặt.
                		</td>
                		<td width="20%"></td>
                		<td><br /><font face="'Open Sans Condensed', sans-serif;", size="4px"><b>3. Nhận Tin nhắn</b></font><br /><br />
                		<img src="/static/images/thongtin/buyer3.png" align="left" width="80px">Bạn sẽ được nhận lại tin nhắn từ người bán nếu họ muốn gặp và trao đổi sách đúng với những thông tin hẹn gặp và liên lạc mà bạn đã đưa.
                		</td>
                	</tr>
                	<tr>
                		<td colspan="3" align="center"><br />
                		<font face="'Open Sans Condensed', sans-serif;", size="4px"><b>4. Gặp nhau giữa người Mua và Bán</b></font><br />
                		Hẹn gặp và cùng trao đổi sách. <br />
                		<img src="/static/images/thongtin/meetup4.png" width="80px">
				</td>
                	</tr>
                </table>
                </div>
            </div>
        </div>
    </section>

    <section id="info-faqs" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Đơn Giản</h2>
                    <p>Vì bạn gặp trực tiếp người bán ngay tại trường mình đang học hoặc xung quanh khu vực mình ở nên mọi giao dịch đều diễn ra dễ dàng và thuận tiện. Không cần phải đi đâu xa, nhiều lúc giờ ra chơi đăng sách, ra về là có thể trao đổi ngay.</p>
                    <h2>Thân Thiện</h2>
                    <p>Nhiều lúc đâu ngờ người bán sách lại học chung trường, thậm chí chung lớp với mình. Không phải đi đâu xa, giao dịch sách nằm ngay trong tầm tay của bạn, chỉ vài cái click chuột và gõ bàn phím.</p>
                </div>
            </div>
        </div>
    </section>
    <br /><br /><br />

{% endblock %}
