{% extends "base.html" %}
{% block content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Liên Hệ - Hỗ Trợ</h1>
                            <p></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p align="left">Xin chân thành cảm ơn các bạn đạ sử dụng website của Chuyentay.com. Chúng mình hoan nghênh mọi ý kiến đóng góp cũng như hỗ trợ giúp đỡ từ các bạn. MỌi thắc mắc hoặc cần được trợ giúp xin vui lòng gửi mail về địa chỉ contact@chuyentay.com hoặc skype: chuyentay
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->

    <section id="map-section">
        <div class="container">
            <div id="gmap"></div>
            <div class="contact-info">
                <h2>Liên hệ:</h2>
                <address>
                E-mail: <a href="mailto:hotro@chuyentay.com">hotro@chuyentay.com</a> <br> 
                Phone: +1 (123) 456 7890 <br> 
                
                </address>

                <h2>Địa Chỉ:</h2>
                <address>
                Soda Hall - Room 306 <br> 
                University of California, Berkeley <br> 
                Berkeley, CA 94621 <br> 
                United States <br> 
                </address>
            </div>
        </div>
    </section> <!--/#map-section-->        

{% endblock %}

{% block js %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/static/js/gmaps.js"></script>
{% endblock %}
