{% extends "base.html" %}
{% block content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Quyền Lợi và Trách Nhiệm</h1>
                            <p></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="info-quyenloi" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Quyền Lợi</h2>
                    <p>Thông tin đăng trên website dựa trên nguyên tắc tự nguyện và không hề bị ép buộc. Bạn có đầy đủ quyền lợi của một thành viên như đăng sách, tìm, bán, tặng và trao đổi sách. các chức năng liên quan như chỉnh sửa sách và thay đổi thông tin chỉ hoạt động khi bạn đã kích hoạt email đăng ký.</p>
                    <p align="justify">Độ tin tưởng của bạn sẽ tăng với những đòi hỏi khác nhau. Tuy nhiên, độ tin tưởng chỉ là gợi ý để bạn nắm được một thành viên nào đó có đóng góp thế nào với diễn đàn, chứ không phải số đo độ tin cậy của người đó. Độ tin tưởng của bạn sẽ tăng khi bạn hoàn thành những đòi hỏi nhất định.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="info-trachnhiem" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Trách Nhiệm</h2>
                    <p>Thông tin cá nhân của bạn nên được hạn chế đến mức tối đa. Khi bạn đã tìm được cuốn sách như ý với giá cả phù hợp, bạn nên liên hệ trực tiếp với thành viên đã đăng bán để hẹn trao đổi.</p>
                    <p>Những thông tin khác liên quan đến quyền lợi và trách nhiệm sẽ được thay đổi mà không cần báo trước.</p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->
    <br /><br /><br /><br />
{% endblock %}
