<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Chuyentay.com - Trao Doi, mua ban sach cu gia re{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet"> 
    <link href="/static/css/lightbox.css" rel="stylesheet"> 
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">      
    <!-- ******************************************** BLOCK HEADER ****************************************** -->
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>
    <!--/#header-->

    <!-- ******************************************** BLOCK MESSAGE ****************************************** -->
    <!-- never used but i think it may be a good idea to keep it for debugging -->
    <div id="messages-wrap">
      <div class="container">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
          <p class="message flash-{{ category }}" style="color:red">{{ msg }}</p>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************** BLOCK CONTENT ****************************************** -->
    {% block content %}
    {% endblock %}     


    <footer id="footer">
    <!-- ******************************************** BLOCK FOOTER ****************************************** -->
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>   
    
    <!--Additional Scripts-->    
    {% block js %}
    {% endblock %}
</body>
</html>
