{% extends "base.html" %}
{% block content %}

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Kiếm Sách Rẻ, Tìm Sách Miễn Phí</h1>
                        <p>Sách có thể cũ nhưng nội dung sách không bao giờ cũ. Đừng vội bán ve chai bạn nhé! Hãy nhường hoặc bán lại chúng cho lớp đàn em thật sự cần và những bạn không có điều kiện mua sách mới.</p>
                        <a href="{{ url_for('users.dangnhap') }}" class="btn btn-common">Cùng Tham Gia Ngay</a>
                    </div>
                    <img src="/static/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="/static/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="/static/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="/static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="/static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/home/icon1.png" alt="">
                        </div>
                        <h2>Tìm Sách - Tặng Sách</h2>
                        <p>Bạn sở hữu những cuốn sách hay và muốn tặng lại để chia sẻ với những bạn khác? Hãy đăng lên để sách của bạn đến ngay với người nhận thích hợp.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/home/icon2.png" alt="">
                        </div>
                        <h2>Mua - Bán Sách Cũ</h2>
                        <p>Sách đã qua sử dụng có thể được bán hoặc mua lại nhằm giúp bạn tiết kiệm chi phí và tăng thêm thu nhập.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/home/icon3.png" alt="">
                        </div>
                        <h2>Trao Đổi Sách</h2>
                        <p>Đây là cách tiết kiệm tốt nhất khi bạn có nhu cầu đọc sách thường xuyên. Hãy cùng trao đổi với những người cùng sở thích với bạn.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Cực Kì Đơn Giản - Dễ Sử Dụng</h1>
                            <p>Thỏa mãn các nhu cầu về sách chỉ với 4 bước đơn giản: Đăng Ký, Đăng - Tìm Sách, Hẹn Gặp và Hài Lòng. Xem Video kế bên để biết thêm chi tiết.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">Hướng Dẫn</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/home/image1.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Nhanh và Hiệu Quả</h2>
                        <P>Tìm kiếm, mua bán hoặc trao đổi sách nhanh chóng thông qua giao dịch trực tiếp tại chính trường học trong giờ ra chơi hay sau khi tan lớp.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>An Toàn và Thân Thiện</h2>
                        <P>Trang web được thành lập nhằm mục đích phục vụ và tạo sân chơi cho Sinh Viên, Học Sinh, Nghiên Cứu Sinh... và những bạn thực sự có nhu cầu về sách. Những hành vi xấu sẽ được ban quản trị cố gắng ngăn chặn và loại trừ.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/home/image2.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/home/image3.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Đa Dạng Các Thể Loại Sách</h2>
                        <P>Phong phú các thể loại từ Sách Giáo Khoa, Sách Tham Khảo, Sách Giải, Tài liệu và Truyện... được sắp xếp hợp lí cho bạn dễ dàng tìm đọc, mua bán và trao đổi.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="/static/images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Tiếp Tục Mở Rộng và Phát Triển</h1>
                        <p>Tuy còn khá mới mẻ nhưng dự án đang được phát triển rộng ra trên phạm vi cả nước. <br> Mong rằng sẽ nhận được sự đóng góp và hỗ trợ nhiệt tình của thành viên khắp mọi nơi.</p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client1.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client2.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client4.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->


{% endblock %}
