{% extends "base.html" %}
{% block content %}

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Kiếm Sách Rẻ, Tìm Sách Free</h1>
                        <p>{{ username }}Sách cũ rất quý, đừng vội bán ve chai. Bạn có thể nhường lại nó cho những đàn em thực sự cần hoặc những bạn không có điều kiện mua sách. Sách mới mắc lắm, kiến thức chứa đựng trong đó lại mắc hơn vô cùng. Vậy sau khi sử dụng xong bạn có thể cho lại hoặc kiếm ít tiền bằng việc bán lại những cuốn sách cũ đó?</p>
                        <a href="{{ url_for('users.dangnhap') }}" class="btn btn-common">Cùng Tham Gia Ngay</a>
                    </div>
                    <img src="/static/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="/static/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="/static/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="/static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="/static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/home/icon1.png" alt="">
                        </div>
                        <h2>Tặng Sách - Tìm sách miễn phí</h2>
                        <p>Bạn có sách sử dụng rồi và muốn tặng lại những người khác? Hãy cứ đăng lên và sẽ có người nhận ngay.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/home/icon2.png" alt="">
                        </div>
                        <h2>Mua - Bán Sách Cũ</h2>
                        <p>Bạn muốn tìm sách cũ để tiết kiệm? Hoặc bạn muốn kiếm thêm từ việc bán sách cũ? Bạn đã tìm đúng nơi.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/home/icon3.png" alt="">
                        </div>
                        <h2>Trao Đổi Sách</h2>
                        <p>Bạn muốn đổi sách vừa đọc xong với bạn khác để có thêm kiến thức? Có nhiều người cùng ý tưởng với bạn đấy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Cực Kì Đơn Giản - Cực kì dễ sử dụng</h1>
                            <p>Trao đổi, mua bán, kiếm và tặng sách chỉ trong 4 bước đơn giản: đăng ký, đăng-tìm sách, hẹn gặp và tận hưởng. Xem video kế bên để biết thêm chi tiết.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">Hướng Dẫn Sử Dụng</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/home/image1.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Nhanh và Hiệu Quả</h2>
                        <P>Tìm sách, bán sách và mua sách ngay trong ngày, thậm chí chỉ vài tiếng sau khi bạn đăng, gặp ngay người bán, người mua tại chính trường học, giữa giờ ra chơi hoặc sau khi tan lớp.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>An Toàn và Thân Thiện</h2>
                        <P>Website phục vụ chủ yếu cho Sinh Viên, Học Sinh, Nghiên Cứu Sinh và những bạn thực sự cần. Tụi mình không ngừng cố gắng hết sức để ngăn chặn những hành vi lợi dụng sinh viên, học sinh. Nhiều lúc bạn không ngờ người tặng sách lại học cùng trường với bạn.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/home/image2.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/home/image3.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Đa Dạng Các Thể Loại Sách</h2>
                        <P>Đa dạng và phong phú các thể loại từ Sách Giáo Khoa, Sách Tham Khảo, Sách Giải, Tài Liệu và Truyện cho bạn tìm đọc và trao đổi. Bạn sẽ mệt mỏi vì không biết lựa sách miễn phí nào để đọc vì có quá nhiều.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="/static/images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Tụi Mình Đang Mở Rộng và Phát Triển</h1>
                        <p>Vì dự án còn khá mới mẻ nên tụi mình đang phát triển rộng ra trên phạm vi nhiều thành phố trên đất nước. <br> Mong rằng sẽ nhận được sự đóng góp và hỗ trợ nhiệt tình của các bạn mọi nơi. </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client1.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client2.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client4.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/static/images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->


{% endblock %}
